body {
    margin: 0px;
    background-color: darkgray;
    width: 320px;
}

#header {
    margin: 10px;
    background: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
}

.small-text {
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF6A00;
}

#jack-container {
    position: relative;
}

.checkbox-pumpkin {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index:-1000px;
    left:-1000px;
}

#led1-label {
    position: absolute;
    top: 140px;
    left: 86px;
}

#led2-label {
    position: absolute;
    top: 140px;
    left: 208px;
}

.label-pumpkin {
    background-image:url(/images/dark-red-circle-24px.png);
    padding-left:24px;
    height:24px; 
    display:inline-block;
    line-height:24px;
    background-repeat:no-repeat;
    font-size:24px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].checkbox-pumpkin:checked + label.label-pumpkin {
    background-image:url(/images/red-circle-24px.png);
}

h1 {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF6A00;
}

h2 {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.settings-checkbox {
    width: 24px;
    height: 24px;
    vertical-align:middle;
}

.settings-label {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

option {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF6A00;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 180px;
    border-radius: 12px;
}

button:hover {background-color: #FF4F00}

button:active {
  background-color: #FF4F00;
  transform: translateY(4px);
}

.groupBox {
    padding: 20px;
    margin: 10px;
    background: #007F0E;
    width: 260px
}

.groupBoxHeader {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border: none;
    color: white;
    margin-bottom: 10px;
}

/* Photos are 352x288. Maintain aspect ratio.*/
#photo-image {
    width: 180px; 
    height: 147px;
}

.photo {
    width: 90px; 
    height: 74px; 
    margin: 5px; 
}

#photos-container {
    margin:10px;
    width: 100%;
}

.settings-container {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-bottom-color: black;
    border-bottom-style: dashed;
    padding-bottom: 10px;
}

#brightness-slider {
    appearance: none;
    width: 200px;
    height: 26px;
    outline: none;
    vertical-align: middle;
}

#brightness-value {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 26px;
    margin-left: 10px;
    background: black;
}